/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
}

.conteiner {
    display: flex;
    width: 1440px;
    height: 900px;
    background-color: #fff;
    
}

.esquerdo {
    width: 932px;
    height: 901px;
}

.direito {
    text-align:right;
    align-items: flex-end;
    justify-content: flex-end;
}

.direito h1{
    margin-top: 10%;
    font-size: 75px;
    width: 422px;
    height: 150px;
    color: red;

}

.direito h2{
    margin: 4%;
    font-size: 55px;
    width: 365px;
    height: 142px;
    font-style: italic;
}

.direito p{
    
    font-family: 'Inter';
    margin: 4%;
    width: 495px;
    height: 156px;
    font-size: 32px; 
}

.fundo{
    color: #FFF;
    font-family: 'Inter';
    font-size: 28px;
    background-color: red;
    width: 561px;
    height: 34px;
}

.logo {

    margin: 10%;
    width: 141px;
    height: 47px;

}




